* {
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Appfront-small {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  font-size: 2vmin;
  justify-content: space-between;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.Appfront-small .up {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Appfront-small .right {
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
  overflow: hidden;
}

.Appfront-small .up-top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Appfront-small .up-down {
  height: 50%;
  width: 100%;
}

.Appfront-small .up-name {
  padding-left: 15vmin;
  padding-right: 15vmin;
  opacity: 0.8;
  color: rgba(0, 0, 0, var(1));
}

.Appfront-small .up-name p {
  text-align: center;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1;
}

.Appfront-small .up-name span {
  color: blueviolet;
  font-size: 4rem;
  line-height: 1;
  font-weight: 600;
}

.up-text {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Appfront-small .right {
  height: 100vh;
}

.Appfront-small .down .down-midleft {
  padding-left: 5vmin;
  width: 60%;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Appfront-small .up-down {
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
  margin-bottom: 10vh;
}

.Appfront-small .up-down p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media screen and (max-width: 950px) {
  .Appfront-small .up-name p {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1;
  }
  .Appfront-small .up-name span {
    color: blueviolet;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
  }
  .Appfront-small .up-down p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media screen and (max-width: 620px) {
  .Appfront-small .up-name p {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
  }
  .Appfront-small .up-name span {
    color: blueviolet;
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
  }
  .Appfront-small .up-down p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@media screen and (max-width: 500px) {
  .Appfront-small .up-name p {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
  }
  .Appfront-small .up-name span {
    color: blueviolet;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
  }
  .Appfront-small .up-down p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@media screen and (max-width: 380px) {
  .Appfront-small .up-name p {
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1;
  }
  .Appfront-small .up-name span {
    color: blueviolet;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
  }
  .Appfront-small .up-down p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.75rem;
  }
}
