.head-arrow{
    width: 100%;
    display: flex;

}
.hleft{
    margin-left: 2vmin;
    width: 20vh;
}
    .hmid{

    min-width:40vh;
    height: 100%;
    }
.hmid h2{
    
    font-size: 4vmin;
    font-weight: 800;
    margin-top: 1vmin;
}
.hmid p{
  
margin-top: 7vmin;
text-decoration: underline;
}
    .hright{
        min-width: 20vh;
    margin-left: 10vmin;
    height: 100%;
    display: flex;
 

    }
    .hright-hright-arr{
        display: block;
        margin-left: 10vmin;
    }
    .hright svg{     
       color: rgb(1, 67, 67);
       position:absolute;
    height:2vmin;
    width: 7vmin;
  z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 12vmin;
    transition: background-color 0.2s;
    
    }
 
    .allblog-link{
        float: right;
        margin-top:-3vmin;
        margin-right: 15vmin;
        transition: all 0.3s ease;
       
    }
    .allblog-link a{
        text-decoration: none;
        color: black;
    }
    .allblog-link:hover{
        transform: scale(1.1);
  
    }
    @media screen and (max-width: 1080px) 
    {
        .hleft{
            margin-left: 2vmin;
            width: 5vh;
        }
    }
