/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  /* Header styles */
  .App-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 3;
  }
  .App-header:hover{
    background-color: rgba(172, 169, 169, 0); /* Red color with 50% opacity */
    backdrop-filter: blur(8px); 
  }
  
  .background-effect::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    content: '';
    z-index: 0;
  }
  
  .New-menu {
    position: absolute;
    z-index: 3;
    content: '';
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../image/back.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    width: 100%;
    filter: brightness(1);
  }
  
  .App-logo {
    position: relative;
    height: 10vmin;
    pointer-events: none;
    float: left;
    width: max-content;
    margin-left: 3vmin;
    margin-top: 3vmin;
    filter: brightness(1.5);
    z-index: 999;
    color: white;
  }
  
  .Hamburger {
    position: relative;
    color:rgb(164, 158, 152);

    float: right;
    width: max-content;
    margin-right: 4vmin;
    margin-top: 4vmin;
    filter: brightness(10);
    width: 9vmin;
    height: fit-content;

    transition: all 0.6s ease; /* Add transition property */
  }
  
  .Hamburger svg {
    height: 10vmin;
    color: rgb(35, 35, 35);
    float: right;
    width: 7vmin;
    position: absolute;
    color: aqua;
    -webkit-clip-path:polygon(10% 0%, 100% 0%, 100% 100%, 50% 100%, 13.04% 100%, -0.0% 40%);
    clip-path:polygon(10% 0%, 100% 0%, 100% 100%, 50% 100%, 13.04% 100%, -0.0% 40%);
    transition: all 0.6s ease; /* Add transition property */
  }
  
  .Hamburger svg:hover {
   transform:  scale(1.1);
    background-color: transparent;
  }
  
  .New-menu .upper-nav {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .menu{
    height: 0vmin;
    width: 100%;
    z-index: 0;
  }
  .New-menu .left-nav {
    height: 80%;
    width: 40%;
    float: left;
    margin-top: 1%;
    margin-left: 12%;
    position: relative;
    z-index: 0;
    
  }
  
  .New-menu .right-nav {
    height: 80%;
    width: 25%;
    float: right;
    margin-top: 5%;
    margin-left: 7%;
  }
  .right-nav2{
    align-items: center;
    justify-content: center;
    margin-top: 8vmin;
 
  }
  .New-menu .right-nav2{
    display: none;
  }
  
  .New-menu .down-nav {
    height: 10vh;
    width: 100%;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
  }
  
  .New-menu .left-down-nav {
    height: 80%;
    width: 40%;
    float: left;
    margin-left: 15%;
    font-weight: 600;
    color: #888;
    font-size: 2vmin;
  }
  
  .New-menu .right-down-nav {
    height: 80%;
    width: 40%;
    float: right;
    margin-left: 27%;
    
    font-size: 2vmin;
    font-weight: 600;
    color: #888;
  }
  
  .left-nav li a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 5vmin;
    line-height: 10vmin;
    font-weight: 800;
    
  }
  
  .right-nav ul {
    display: flex;
    flex-direction: column;
  }
  .right-nav2 ul{
    display: flex;
    flex-direction: row;
    
  }
  
  .left-nav li,
  .right-nav li, 
  .right-nav2 li {
    list-style: none;
  }
  .right-nav2 li{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 4vmin;
    
  }
  
  .right-nav li a,.right-nav2 li a {
    align-self: flex-end;
    text-decoration: none;
    color: white;
    font-size: 3vmin;
    margin: 2vmin;
    font-weight: 800;
    float: right;
   
  }
  .list-items {
  
    transition: all 0.6s ease; /* Add transition property */
  }
  
  .list-items:hover {
    transform: scale(1.1);
  }
  
  .right-nav2{
    display: none;
  }
  .menu .left-nav,
.menu .right-nav,
.menu .down-nav,
.menu .upper-nav
.menu .right-nav2 {
  display: none;
}

  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    .Hamburger svg{
     width: 8vh;
    
     height: 7vh;
    }
    /* Show the navigation items for smaller screens */
    .menu .left-nav,
    .menu .right-nav,
    .menu .down-nav,
    .menu .upper-nav,
    .menu .right-nav2 {
      display: none;
    }
  
    /* ... Other responsive styles ... */
  
    .Hamburger {
      
      width: 9vh;
    }
  
  
  
    .New-menu .upper-nav {
      flex-direction: column;
    }
  
    .New-menu .left-nav
     {
        display: flex;
        align-items: center;
        justify-content: center;
      width: 100%;
      float: none;
      margin-left: 0;
      margin-right: 0;
      
    }
    .New-menu .left-nav .ul{
        margin-bottom: 20%;
    }
    .New-menu .right-nav{
        display: none;
    }
    .New-menu .right-nav2{
        display: block;
    }
  
    .New-menu .right-nav2 {
        display: flex;
        align-items: center;
        justify-content: center;
      width: 100%;
      float: none;
      
      margin-left: 0;
      margin-right: 0;
    }
    .New-menu .left-nav, .New-menu .right-nav2{
        text-align: center;
    }
    .New-menu .down-nav {
      flex-direction: column;
      align-items: center;
      margin-top: 12vmin;

    }
  
    .New-menu .left-down-nav,
    .New-menu .right-down-nav {
        color: #888;
      width: 100%;
      float: none;
      margin-left: 0;
      font-size: 4vmin;
      margin-right: 0;
    }
  
    .left-nav li a,
    .right-nav2 li a {
      font-size: 6vmin;
 
    }
    .left-nav li ,
    .right-nav2 li{
      margin-top: 5vmin;
    }
    .right-nav ul {
      align-items: center;
      text-align: center;
    }
    .left-down-nav{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right-down-nav{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .App-logo{
      width: 10vh;
      height: 7vh;
      margin-left: 1vmin;
    }
  }
  