.image-slider {
    position: relative;

    width: 100%;
    height: 100%;

  }
  
  .image-slider img {
    margin-left: -10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    object-fit: cover;
    animation: zoom 20s infinite alternate ease-in-out;
    opacity: 0.95;
  }
  
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
     
    }
  }
  
  .dots {
    float: right;
    transform: rotate(90deg);
    display:flex;
    position: relative;
    justify-content: center;
    margin-top: 50vmin;
    z-index: 99;
  }
  
  .dots span {
    width: 1vmin;
    height: 1vmin;
    margin: 0 1vmin;
    border-radius: 50%;
    background-color: #969696;
    cursor:pointer;
  }
  
  .dots span.active {
    background-color: #ffffff;
  }


  /* imageslider.css */

.image-zoom-enter {
  opacity: 0;
  transform: scale(0.9);
}

.image-zoom-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.image-zoom-exit {
  opacity: 1;
  transform: scale(1);
}

.image-zoom-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.down-midright-text{
  display: block;
  float: left;
  align-items: center;
  margin-left: 20%;
    margin-top: 35vh;
    z-index: 100;
}
@media (max-width: 1080px) {
  .image-slider{
    display: flex;
    align-items: center;
    
  }
  .dots{
    display: none;
  }
  .down-midright-text{
    margin-top: 5vh;
    
  }
}